*{
    margin: 0;
    padding: 0;
}
/* header section start */
.head-container{
    display: flex;
    justify-content: space-around;
    padding: 0 120px 0 120px;
    background: rgb(252,238,241);
    align-items: center;
}
.info-content{
    width: 50%;
}
.info-content h2{
    font-size: 45px;
}
.info-content p{
    font-size: 18px;
    margin: 10px 0px 10px 0px;
}
.btns1{
    background: rgb(229,84,115);
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    margin: 10px 0;
}
/* header section ent */
/* bonus section start */
.bonus-content{
   margin: auto;
   width: 80%;
   margin-top: 100px;
}
.title-info{
    text-align: center;
}
.flower-item{
    display: flex;
    margin: auto;
    align-items: last baseline;
    justify-content: center;
}
.flower-1{
    align-items: center;
    text-align: center;
    
    
} 
.all-image{
    width: 300px;
    padding: 20px 20px 0px 20px;
    height: 300px;
    margin: 5px;
    background: rgb(242,222,231);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.all-image-1{
    width: 300px;
    padding: 20px 20px 0px 20px;
    height: 300px;
    margin: 5px;
    background: rgb(217,239,241);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.all-image-2{
    width: 300px;
    padding: 20px 20px 0px 20px;
    height: 300px;
    margin: 5px;
    background:rgb(227,235,219);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.title-info{
    padding-bottom: 10px;
}
/* bonus end */
.flower-1 p{
    text-decoration: underline;
}
.option-content{
    display: flex;
    justify-content: center;
    margin: 100px 0 100px 0;
    background: rgb(244,244,244);

}
.icon-1{
    text-align: center;
    padding: 20px;
    width: 200px;
}

/* hot deal start */
.hot-deal{
    display: flex;
    background:  rgb(252,238,241);
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.hot-deal-content{
    text-align: center;
    margin: auto;
    width: 500px;
}
.hot-deal-pic{
    margin: auto;
}
.hot-deal-content p{
    margin: 10px 0px 10px 0px;
}
.insta-container{
    margin: 100px 0px 100px 0px
}
.insta-content{
    width: 80%;
    text-align:center ;
    margin: auto;
}
.insta-info{
    width: 300px;
    margin: auto;
    margin-bottom: 50px;
}
.insta-pic{
    display: flex;
    justify-content: space-around;
}
.pic-size{
    width: 250px;
    height: 250px;
    margin: 10px;
}
/* all h2 content */
h2{
    margin-bottom: 20px;
}
.search-banner{
    width: 65%;
    height: 100px;
    padding: 100px;
    margin: auto;
    background: url('./images/Rectangle\ 9.png');
    text-align: center;
    margin-top: 100px;
    background-size:cover;
}
input{
    font-size: 14px;
    border: none;
    padding: 15px;
    width: 400px;
}
.footer-container{
    background: black;
    color: white;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flrs{
    color: rgb(176,67,90);
}
.footer-content p {
    margin: 10px;
    
}
.form-content{
    background: rgb(17,16,16);
    margin: auto;
    margin-bottom: 100px;
    width: 80%;
    text-align: center;
    height: 250px;
    color: white;
}
.form-content input{
    padding: 10px;
    margin: 10px 0 10px 0px;
}
.form-content button{
    text-align: center;
}