*{
    margin: 0;
    padding: 0;
}
/* header section start */
.head-container{
    display: flex;
    justify-content: space-around;
    padding: 0 120px 0 120px;
    background: rgb(252,238,241);
    align-items: center;
}
.info-content{
    width: 50%;
}
.info-content h2{
    font-size: 35px;
}
.info-content p{
    font-size: 18px;
    margin: 10px 0px 10px 0px;
}
.btns1{
    background: rgb(229,84,115);
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
}
/* header section ent */
/* bonus section start */
.bonus-content{
   margin: 100px;
   width: 80%;
}
.title-info{
    text-align: center;
}
.flower-item{
    display: flex;
    margin: auto;
    align-items: last baseline;
    justify-content: center;
}
.flower-1{
    align-items: center;
    text-align: center;
    
    
} 
.all-image{
    width: 300px;
    padding: 20px 20px 0px 20px;
    height: 300px;
    margin: 5px;
    background: rgb(242,222,231);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.all-image-1{
    width: 300px;
    padding: 20px 20px 0px 20px;
    height: 300px;
    margin: 5px;
    background: rgb(217,239,241);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.all-image-2{
    width: 300px;
    padding: 20px 20px 0px 20px;
    height: 300px;
    margin: 5px;
    background:rgb(227,235,219);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.title-info{
    padding-bottom: 10px;
}
.flower-1 p{
    text-decoration: underline;
}
.option-content{
    display: flex;
    justify-content: center;
    margin: 100px 0 100px 0;
    background: rgb(244,244,244);

}
.icon-1{
    text-align: center;
    padding: 20px;
    width: 200px;
}
